@use "variables";
.rentcontainer{
    display: flex;
    width: 100%;
    height: 350px;
    background-color: white;
    .box1{
        width: 50%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      margin-left: 10%;
       p1{
        font-family: variables.$primary-font;
        font-weight: 500;
        font-size: 20px;
       }
       h1{
        font-family: variables.$primary-font;
       }
       p2{
        opacity: 0.7;
        font-family: variables.$primary-font;
        margin-top: 5px;
        margin-bottom: 20px;
       }
       span{
        display: flex;
          button{
            margin-right: 20px;
            border: solid 2px #ff2c21;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #f4524a;
            color: white;
          }
          .learn{
            background-color: white;
            color: black;
          }
       }
    }
    .box2{
        margin-top: 20px;
        div{
            background-color: #e0e3de;
 border-radius: 50%;
        }
        img{
            
            height: 350px;
            width: 100%;
        }
    }
}

.introcard{
    margin-top: 150px;
    margin-bottom: 40px;
    width: 80%;
    margin-left: 10%;
    background-color: #f8f8f8;
    height: 200px;
    display: flex;
    .box1{
      background-image: url("https://images.unsplash.com/photo-1503602642458-232111445657?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzg2NTJ8MHwxfHNlYXJjaHw5fHxjaGFpcnxlbnwwfHx8fDE2NzI3MzkzMDg&ixlib=rb-4.0.3&q=80&w=1080");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
        height: 100%;
        width: 20%;
    }
    .box2{
        padding-left: 10px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       font-family: variables.$primary-font;
       font-weight: 100;
        height: 100%;
        width: 60%;
    }
    .box3{
        background-image: url("https://images.unsplash.com/photo-1567016432779-094069958ea5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzg2NTJ8MHwxfHNlYXJjaHwyfHxzb2ZhfGVufDB8fHx8MTY3MjczOTQwNw&ixlib=rb-4.0.3&q=80&w=1080");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 20%;

    }
}

.brandcard{
    
}